{% extends 'base.html.twig' %}

{% block title %}New Posteo{% endblock %}

{% block body %}
    <h4>crea un nuevo posteo</h4>

    {{ include('posteo/_form.html.twig') }}

    <a href="{{ path('app_posteo_index') }}">back to list</a>
{% endblock %}
